{
  "dashboard": {
    "annotations": {
      "list": [
        {
          "builtIn": 1,
          "datasource": "-- Grafana --",
          "enable": true,
          "hide": true,
          "iconColor": "rgba(0, 211, 255, 1)",
          "name": "Annotations & Alerts",
          "type": "dashboard"
        }
      ]
    },
    "editable": true,
    "gnetId": null,
    "graphTooltip": 0,
    "id": null,
    "links": [],
    "panels": [{% for datasource, clustername in datasource_names %}
      {
        "columns": [],
        "datasource": "{{ datasource }}",
        "fontSize": "100%",
        "gridPos": {
          "h": 6,
          "w": 7,
          "x": 0,
          "y": 0
        },
        "id": {{ loop.index }}16,
        "options": {},
        "pageSize": null,
        "showHeader": true,
        "sort": {
          "col": 0,
          "desc": true
        },
        "styles": [
          {
            "alias": "Node Name",
            "colorMode": null,
            "colors": [
              "rgba(245, 54, 54, 0.9)",
              "rgba(237, 129, 40, 0.89)",
              "rgba(50, 172, 45, 0.97)"
            ],
            "dateFormat": "YYYY-MM-DD HH:mm:ss",
            "decimals": 2,
            "mappingType": 1,
            "pattern": "/.*/",
            "thresholds": [],
            "type": "number",
            "unit": "none"
          }
        ],
        "targets": [
          {
            "expr": "sum(kube_node_info{node!~\"^master-infra.*|^worker-infra.*\"}) by (node)",
            "intervalFactor": 2,
            "legendFormat": {% raw %}"{{ node }}"{% endraw %},
            "refId": "A"
          }
        ],
        "timeFrom": null,
        "timeShift": null,
        "title": "Customer Worker Tenant Names",
        "transform": "timeseries_aggregations",
        "type": "table"
      },
      {
        "cacheTimeout": null,
        "colorBackground": false,
        "colorValue": false,
        "colors": [
          "#299c46",
          "rgba(237, 129, 40, 0.89)",
          "#d44a3a"
        ],
        "datasource": "{{ datasource }}",
        "format": "none",
        "gauge": {
          "maxValue": 100,
          "minValue": 0,
          "show": false,
          "thresholdLabels": false,
          "thresholdMarkers": true
        },
        "gridPos": {
          "h": 6,
          "w": 3,
          "x": 7,
          "y": 0
        },
        "id": {{ loop.index }}18,
        "interval": null,
        "links": [],
        "mappingType": 1,
        "mappingTypes": [
          {
            "name": "value to text",
            "value": 1
          },
          {
            "name": "range to text",
            "value": 2
          }
        ],
        "maxDataPoints": 100,
        "nullPointMode": "connected",
        "nullText": null,
        "options": {},
        "postfix": "",
        "postfixFontSize": "50%",
        "prefix": "",
        "prefixFontSize": "50%",
        "rangeMaps": [
          {
            "from": "null",
            "text": "N/A",
            "to": "null"
          }
        ],
        "sparkline": {
          "fillColor": "rgba(31, 118, 189, 0.18)",
          "full": false,
          "lineColor": "rgb(31, 120, 193)",
          "show": false,
          "ymax": null,
          "ymin": null
        },
        "tableColumn": "",
        "targets": [
          {
            "expr": "sum(openshift_build_info) by (gitVersion)",
            "legendFormat": {% raw %}"{{ gitVersion }}"{% endraw %},
            "refId": "A"
          }
        ],
        "thresholds": "",
        "timeFrom": null,
        "timeShift": null,
        "title": "Cluster Version",
        "type": "singlestat",
        "valueFontSize": "80%",
        "valueMaps": [
          {
            "op": "=",
            "text": "N/A",
            "value": "null"
          }
        ],
        "valueName": "name"
      },
      {
        "cacheTimeout": null,
        "colorBackground": false,
        "colorValue": false,
        "colors": [
          "#299c46",
          "rgba(237, 129, 40, 0.89)",
          "#d44a3a"
        ],
        "datasource": "{{ datasource }}",
        "format": "none",
        "gauge": {
          "maxValue": 100,
          "minValue": 0,
          "show": false,
          "thresholdLabels": false,
          "thresholdMarkers": true
        },
        "gridPos": {
          "h": 6,
          "w": 3,
          "x": 10,
          "y": 0
        },
        "id": {{ loop.index }}20,
        "interval": null,
        "links": [],
        "mappingType": 1,
        "mappingTypes": [
          {
            "name": "value to text",
            "value": 1
          },
          {
            "name": "range to text",
            "value": 2
          }
        ],
        "maxDataPoints": 100,
        "nullPointMode": "connected",
        "nullText": null,
        "options": {},
        "pluginVersion": "6.4.4",
        "postfix": "",
        "postfixFontSize": "50%",
        "prefix": "",
        "prefixFontSize": "50%",
        "rangeMaps": [
          {
            "from": "null",
            "text": "N/A",
            "to": "null"
          }
        ],
        "sparkline": {
          "fillColor": "rgba(31, 118, 189, 0.18)",
          "full": false,
          "lineColor": "rgb(31, 120, 193)",
          "show": false,
          "ymax": null,
          "ymin": null
        },
        "tableColumn": "",
        "targets": [
          {
            "expr": "sum(kube_namespace_labels{namespace!~\"^default$|^kube-public$|^kube-service-catalog$|^kube-system$|^management-infra$|^openshift$|^openshift-ansible-service-broker$|^openshift-console$|^openshift-infra$|^openshift-logging$|^openshift-metrics-server$|^openshift-monitoring$|^openshift-node$|^openshift-sdn$|^openshift-template-service-broker$|^openshift-web-console$\"})",
            "intervalFactor": 1,
            "legendFormat": "",
            "refId": "A"
          }
        ],
        "thresholds": "",
        "timeFrom": null,
        "timeShift": null,
        "title": "Total Customer Projects",
        "type": "singlestat",
        "valueFontSize": "100%",
        "valueMaps": [
          {
            "op": "=",
            "text": "N/A",
            "value": "null"
          }
        ],
        "valueName": "current"
      },
      {
        "cacheTimeout": null,
        "colorBackground": false,
        "colorValue": false,
        "colors": [
          "rgba(245, 54, 54, 0.9)",
          "rgba(237, 129, 40, 0.89)",
          "rgba(50, 172, 45, 0.97)"
        ],
        "datasource": "{{ datasource }}",
        "decimals": 0,
        "format": "none",
        "gauge": {
          "maxValue": 100,
          "minValue": 0,
          "show": false,
          "thresholdLabels": false,
          "thresholdMarkers": true
        },
        "gridPos": {
          "h": 6,
          "w": 3,
          "x": 13,
          "y": 0
        },
        "height": "200",
        "id": {{ loop.index }}22,
        "interval": null,
        "links": [],
        "mappingType": 1,
        "mappingTypes": [
          {
            "name": "value to text",
            "value": 1
          },
          {
            "name": "range to text",
            "value": 2
          }
        ],
        "maxDataPoints": 100,
        "nullPointMode": "connected",
        "nullText": null,
        "options": {},
        "postfix": "",
        "postfixFontSize": "50%",
        "prefix": "",
        "prefixFontSize": "50%",
        "rangeMaps": [
          {
            "from": "null",
            "text": "N/A",
            "to": "null"
          }
        ],
        "sparkline": {
          "fillColor": "rgba(31, 118, 189, 0.18)",
          "full": false,
          "lineColor": "rgb(31, 120, 193)",
          "show": false
        },
        "tableColumn": "",
        "targets": [
          {
            "expr": "sum(kube_pod_status_phase{namespace!~\"^default$|^kube-public$|^kube-service-catalog$|^kube-system$|^management-infra$|^openshift$|^openshift-ansible-service-broker$|^openshift-console$|^openshift-infra$|^openshift-logging$|^openshift-metrics-server$|^openshift-monitoring$|^openshift-node$|^openshift-sdn$|^openshift-template-service-broker$|^openshift-web-console$\",phase=\"Running\"})",
            "format": "time_series",
            "intervalFactor": 2,
            "refId": "A",
            "step": 1800
          }
        ],
        "thresholds": "",
        "title": "Total Customer Pods Running",
        "type": "singlestat",
        "valueFontSize": "100%",
        "valueMaps": [
          {
            "op": "=",
            "text": "N/A",
            "value": "null"
          }
        ],
        "valueName": "current"
      },
      {
        "cacheTimeout": null,
        "colorBackground": false,
        "colorValue": false,
        "colors": [
          "#299c46",
          "rgba(237, 129, 40, 0.89)",
          "#d44a3a"
        ],
        "datasource": "{{ datasource }}",
        "format": "none",
        "gauge": {
          "maxValue": 100,
          "minValue": 0,
          "show": false,
          "thresholdLabels": false,
          "thresholdMarkers": true
        },
        "gridPos": {
          "h": 6,
          "w": 2,
          "x": 16,
          "y": 0
        },
        "id": {{ loop.index }}24,
        "interval": null,
        "links": [],
        "mappingType": 1,
        "mappingTypes": [
          {
            "name": "value to text",
            "value": 1
          },
          {
            "name": "range to text",
            "value": 2
          }
        ],
        "maxDataPoints": 100,
        "nullPointMode": "connected",
        "nullText": null,
        "options": {},
        "postfix": "",
        "postfixFontSize": "50%",
        "prefix": "",
        "prefixFontSize": "50%",
        "rangeMaps": [
          {
            "from": "null",
            "text": "N/A",
            "to": "null"
          }
        ],
        "sparkline": {
          "fillColor": "rgba(31, 118, 189, 0.18)",
          "full": false,
          "lineColor": "rgb(31, 120, 193)",
          "show": false,
          "ymax": null,
          "ymin": null
        },
        "tableColumn": "",
        "targets": [
          {
            "expr": "sum(kube_node_info{node=~\"^worker-.*-s.*\"})",
            "legendFormat": {% raw %}"{{ node }}"{% endraw %},
            "refId": "A"
          }
        ],
        "thresholds": "",
        "timeFrom": null,
        "timeShift": null,
        "title": "Small Nodes",
        "type": "singlestat",
        "valueFontSize": "80%",
        "valueMaps": [
          {
            "op": "=",
            "text": "N/A",
            "value": "null"
          }
        ],
        "valueName": "avg"
      },
      {
        "cacheTimeout": null,
        "colorBackground": false,
        "colorValue": false,
        "colors": [
          "#299c46",
          "rgba(237, 129, 40, 0.89)",
          "#d44a3a"
        ],
        "datasource": "{{ datasource }}",
        "format": "none",
        "gauge": {
          "maxValue": 100,
          "minValue": 0,
          "show": false,
          "thresholdLabels": false,
          "thresholdMarkers": true
        },
        "gridPos": {
          "h": 6,
          "w": 2,
          "x": 18,
          "y": 0
        },
        "id": {{ loop.index }}26,
        "interval": null,
        "links": [],
        "mappingType": 1,
        "mappingTypes": [
          {
            "name": "value to text",
            "value": 1
          },
          {
            "name": "range to text",
            "value": 2
          }
        ],
        "maxDataPoints": 100,
        "nullPointMode": "connected",
        "nullText": null,
        "options": {},
        "postfix": "",
        "postfixFontSize": "50%",
        "prefix": "",
        "prefixFontSize": "50%",
        "rangeMaps": [
          {
            "from": "null",
            "text": "N/A",
            "to": "null"
          }
        ],
        "sparkline": {
          "fillColor": "rgba(31, 118, 189, 0.18)",
          "full": false,
          "lineColor": "rgb(31, 120, 193)",
          "show": false,
          "ymax": null,
          "ymin": null
        },
        "tableColumn": "",
        "targets": [
          {
            "expr": "sum(kube_node_info{node=~\"worker-.*-m.*\"})",
            "legendFormat": {% raw %}"{{ node }}"{% endraw %},
            "refId": "A"
          }
        ],
        "thresholds": "",
        "timeFrom": null,
        "timeShift": null,
        "title": "Medium Nodes",
        "type": "singlestat",
        "valueFontSize": "80%",
        "valueMaps": [
          {
            "op": "=",
            "text": "0",
            "value": "null"
          }
        ],
        "valueName": "avg"
      },
      {
        "cacheTimeout": null,
        "colorBackground": false,
        "colorValue": false,
        "colors": [
          "#299c46",
          "rgba(237, 129, 40, 0.89)",
          "#d44a3a"
        ],
        "datasource": "{{ datasource }}",
        "format": "none",
        "gauge": {
          "maxValue": 100,
          "minValue": 0,
          "show": false,
          "thresholdLabels": false,
          "thresholdMarkers": true
        },
        "gridPos": {
          "h": 6,
          "w": 2,
          "x": 20,
          "y": 0
        },
        "id": {{ loop.index }}28,
        "interval": null,
        "links": [],
        "mappingType": 1,
        "mappingTypes": [
          {
            "name": "value to text",
            "value": 1
          },
          {
            "name": "range to text",
            "value": 2
          }
        ],
        "maxDataPoints": 100,
        "nullPointMode": "connected",
        "nullText": null,
        "options": {},
        "postfix": "",
        "postfixFontSize": "50%",
        "prefix": "",
        "prefixFontSize": "50%",
        "rangeMaps": [
          {
            "from": "null",
            "text": "N/A",
            "to": "null"
          }
        ],
        "sparkline": {
          "fillColor": "rgba(31, 118, 189, 0.18)",
          "full": false,
          "lineColor": "rgb(31, 120, 193)",
          "show": false,
          "ymax": null,
          "ymin": null
        },
        "tableColumn": "",
        "targets": [
          {
            "expr": "sum(kube_node_info{node=~\"worker-.*-l.*\"})",
            "legendFormat": {% raw %}"{{ node }}"{% endraw %},
            "refId": "A"
          }
        ],
        "thresholds": "",
        "timeFrom": null,
        "timeShift": null,
        "title": "Large Nodes",
        "type": "singlestat",
        "valueFontSize": "80%",
        "valueMaps": [
          {
            "op": "=",
            "text": "0",
            "value": "null"
          }
        ],
        "valueName": "avg"
      },
      {
        "collapsed": true,
        "datasource": null,
        "gridPos": {
          "h": 1,
          "w": 24,
          "x": 0,
          "y": 6
        },
        "id": {{ loop.index }}2,
        "panels": [
          {
            "cacheTimeout": null,
            "columns": [],
            "datasource": "{{ datasource }}",
            "fontSize": "100%",
            "gridPos": {
              "h": 10,
              "w": 24,
              "x": 0,
              "y": 7
            },
            "id": {{ loop.index }}4,
            "links": [],
            "options": {},
            "pageSize": null,
            "pluginVersion": "6.4.4",
            "showHeader": true,
            "sort": {
              "col": null,
              "desc": false
            },
            "styles": [
              {
                "alias": "Project Name",
                "colorMode": null,
                "colors": [
                  "rgba(245, 54, 54, 0.9)",
                  "rgba(237, 129, 40, 0.89)",
                  "rgba(50, 172, 45, 0.97)"
                ],
                "dateFormat": "YYYY-MM-DD HH:mm:ss",
                "decimals": 2,
                "link": false,
                "mappingType": 1,
                "pattern": "Time",
                "thresholds": [],
                "type": "hidden",
                "unit": "short"
              },
              {
                "alias": "CPU Usage",
                "colorMode": null,
                "colors": [
                  "rgba(245, 54, 54, 0.9)",
                  "rgba(237, 129, 40, 0.89)",
                  "rgba(50, 172, 45, 0.97)"
                ],
                "dateFormat": "YYYY-MM-DD HH:mm:ss",
                "decimals": 2,
                "mappingType": 1,
                "pattern": "Value #A",
                "thresholds": [],
                "type": "number",
                "unit": "short"
              },
              {
                "alias": "CPU Requests",
                "colorMode": null,
                "colors": [
                  "rgba(245, 54, 54, 0.9)",
                  "rgba(237, 129, 40, 0.89)",
                  "rgba(50, 172, 45, 0.97)"
                ],
                "dateFormat": "YYYY-MM-DD HH:mm:ss",
                "decimals": 2,
                "mappingType": 1,
                "pattern": "Value #B",
                "thresholds": [],
                "type": "number",
                "unit": "short"
              },
              {
                "alias": "CPU Requests %",
                "colorMode": null,
                "colors": [
                  "rgba(245, 54, 54, 0.9)",
                  "rgba(237, 129, 40, 0.89)",
                  "rgba(50, 172, 45, 0.97)"
                ],
                "dateFormat": "YYYY-MM-DD HH:mm:ss",
                "decimals": 2,
                "mappingType": 1,
                "pattern": "Value #C",
                "thresholds": [],
                "type": "number",
                "unit": "percentunit"
              },
              {
                "alias": "CPU Limits",
                "colorMode": null,
                "colors": [
                  "rgba(245, 54, 54, 0.9)",
                  "rgba(237, 129, 40, 0.89)",
                  "rgba(50, 172, 45, 0.97)"
                ],
                "dateFormat": "YYYY-MM-DD HH:mm:ss",
                "decimals": 2,
                "mappingType": 1,
                "pattern": "Value #D",
                "thresholds": [],
                "type": "number",
                "unit": "short"
              },
              {
                "alias": "CPU Limits %",
                "colorMode": null,
                "colors": [
                  "rgba(245, 54, 54, 0.9)",
                  "rgba(237, 129, 40, 0.89)",
                  "rgba(50, 172, 45, 0.97)"
                ],
                "dateFormat": "YYYY-MM-DD HH:mm:ss",
                "decimals": 2,
                "mappingType": 1,
                "pattern": "Value #E",
                "thresholds": [],
                "type": "number",
                "unit": "percentunit"
              },
              {
                "alias": "Project",
                "colorMode": null,
                "colors": [
                  "rgba(245, 54, 54, 0.9)",
                  "rgba(237, 129, 40, 0.89)",
                  "rgba(50, 172, 45, 0.97)"
                ],
                "dateFormat": "YYYY-MM-DD HH:mm:ss",
                "decimals": 2,
                "mappingType": 1,
                "pattern": "namespace",
                "thresholds": [],
                "type": "number",
                "unit": "short"
              }
            ],
            "targets": [
              {
                "expr": "sum(namespace_pod_name_container_name:container_cpu_usage_seconds_total:sum_rate) by (namespace)",
                "format": "table",
                "instant": true,
                "intervalFactor": 2,
                "legendFormat": {% raw %}"{{ namespace }}"{% endraw %},
                "refId": "A"
              },
              {
                "expr": "sum(kube_pod_container_resource_requests_cpu_cores) by (namespace)",
                "format": "table",
                "instant": true,
                "intervalFactor": 2,
                "refId": "B"
              },
              {
                "expr": "sum(namespace_pod_name_container_name:container_cpu_usage_seconds_total:sum_rate) by (namespace) / sum(kube_pod_container_resource_requests_cpu_cores) by (namespace)",
                "format": "table",
                "instant": true,
                "intervalFactor": 2,
                "refId": "C"
              },
              {
                "expr": "sum(kube_pod_container_resource_limits_cpu_cores) by (namespace)",
                "format": "table",
                "instant": true,
                "intervalFactor": 2,
                "refId": "D"
              },
              {
                "expr": "sum(namespace_pod_name_container_name:container_cpu_usage_seconds_total:sum_rate) by (namespace) / sum(kube_pod_container_resource_limits_cpu_cores) by (namespace)",
                "format": "table",
                "instant": true,
                "intervalFactor": 2,
                "refId": "E"
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Project CPU Usage",
            "transform": "table",
            "type": "table"
          },
          {
            "columns": [],
            "datasource": "{{ datasource }}",
            "fontSize": "100%",
            "gridPos": {
              "h": 10,
              "w": 24,
              "x": 0,
              "y": 17
            },
            "id": {{ loop.index }}6,
            "options": {},
            "pageSize": null,
            "showHeader": true,
            "sort": {
              "col": 0,
              "desc": true
            },
            "styles": [
              {
                "alias": "Time",
                "dateFormat": "YYYY-MM-DD HH:mm:ss",
                "pattern": "Time",
                "type": "hidden"
              },
              {
                "alias": "Memory Usage",
                "colorMode": null,
                "colors": [
                  "rgba(245, 54, 54, 0.9)",
                  "rgba(237, 129, 40, 0.89)",
                  "rgba(50, 172, 45, 0.97)"
                ],
                "dateFormat": "YYYY-MM-DD HH:mm:ss",
                "decimals": 2,
                "mappingType": 1,
                "pattern": "Value #A",
                "thresholds": [],
                "type": "number",
                "unit": "decbytes"
              },
              {
                "alias": "Memory Requests",
                "colorMode": null,
                "colors": [
                  "rgba(245, 54, 54, 0.9)",
                  "rgba(237, 129, 40, 0.89)",
                  "rgba(50, 172, 45, 0.97)"
                ],
                "dateFormat": "YYYY-MM-DD HH:mm:ss",
                "decimals": 2,
                "mappingType": 1,
                "pattern": "Value #B",
                "thresholds": [],
                "type": "number",
                "unit": "decbytes"
              },
              {
                "alias": "Memory Requests %",
                "colorMode": null,
                "colors": [
                  "rgba(245, 54, 54, 0.9)",
                  "rgba(237, 129, 40, 0.89)",
                  "rgba(50, 172, 45, 0.97)"
                ],
                "dateFormat": "YYYY-MM-DD HH:mm:ss",
                "decimals": 2,
                "mappingType": 1,
                "pattern": "Value #C",
                "thresholds": [],
                "type": "number",
                "unit": "percentunit"
              },
              {
                "alias": "Memory Limits",
                "colorMode": null,
                "colors": [
                  "rgba(245, 54, 54, 0.9)",
                  "rgba(237, 129, 40, 0.89)",
                  "rgba(50, 172, 45, 0.97)"
                ],
                "dateFormat": "YYYY-MM-DD HH:mm:ss",
                "decimals": 2,
                "mappingType": 1,
                "pattern": "Value #D",
                "thresholds": [],
                "type": "number",
                "unit": "decbytes"
              },
              {
                "alias": "Memory Limits %",
                "colorMode": null,
                "colors": [
                  "rgba(245, 54, 54, 0.9)",
                  "rgba(237, 129, 40, 0.89)",
                  "rgba(50, 172, 45, 0.97)"
                ],
                "dateFormat": "YYYY-MM-DD HH:mm:ss",
                "decimals": 2,
                "mappingType": 1,
                "pattern": "Value #E",
                "thresholds": [],
                "type": "number",
                "unit": "percentunit"
              },
              {
                "alias": "Project",
                "colorMode": null,
                "colors": [
                  "rgba(245, 54, 54, 0.9)",
                  "rgba(237, 129, 40, 0.89)",
                  "rgba(50, 172, 45, 0.97)"
                ],
                "dateFormat": "YYYY-MM-DD HH:mm:ss",
                "decimals": 2,
                "mappingType": 1,
                "pattern": "namespace ",
                "thresholds": [],
                "type": "number",
                "unit": "short"
              },
              {
                "alias": "",
                "colorMode": null,
                "colors": [
                  "rgba(245, 54, 54, 0.9)",
                  "rgba(237, 129, 40, 0.89)",
                  "rgba(50, 172, 45, 0.97)"
                ],
                "decimals": 2,
                "pattern": "/.*/",
                "thresholds": [],
                "type": "number",
                "unit": "short"
              }
            ],
            "targets": [
              {
                "expr": "sum(container_memory_rss{container_name!=\"\"}) by (namespace)",
                "format": "table",
                "instant": true,
                "intervalFactor": 2,
                "refId": "A"
              },
              {
                "expr": "sum(kube_pod_container_resource_requests_memory_bytes) by (namespace)",
                "format": "table",
                "instant": true,
                "intervalFactor": 2,
                "refId": "B"
              },
              {
                "expr": "sum(container_memory_rss{container_name!=\"\"}) by (namespace) / sum(kube_pod_container_resource_requests_memory_bytes) by (namespace)",
                "format": "table",
                "instant": true,
                "intervalFactor": 2,
                "refId": "C"
              },
              {
                "expr": "sum(kube_pod_container_resource_limits_memory_bytes) by (namespace)",
                "format": "table",
                "instant": true,
                "intervalFactor": 2,
                "refId": "D"
              },
              {
                "expr": "sum(container_memory_rss{container_name!=\"\"}) by (namespace) / sum(kube_pod_container_resource_limits_memory_bytes) by (namespace)",
                "format": "table",
                "instant": true,
                "intervalFactor": 2,
                "refId": "E"
              }
            ],
            "timeFrom": null,
            "timeShift": null,
            "title": "Project Memory Usage",
            "transform": "table",
            "type": "table"
          },
          {
            "aliasColors": {},
            "bars": false,
            "dashLength": 10,
            "dashes": false,
            "datasource": "{{ datasource }}",
            "fill": 1,
            "fillGradient": 0,
            "gridPos": {
              "h": 8,
              "w": 12,
              "x": 0,
              "y": 27
            },
            "id": {{ loop.index }}8,
            "legend": {
              "avg": false,
              "current": false,
              "max": false,
              "min": false,
              "show": true,
              "total": false,
              "values": false
            },
            "lines": true,
            "linewidth": 1,
            "nullPointMode": "null",
            "options": {
              "dataLinks": []
            },
            "percentage": false,
            "pointradius": 2,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "spaceLength": 10,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "node:node_cpu_utilisation:avg1m{node!~\"^master-infra.*|^worker-infra.*\"} * 100",
                "legendFormat": {% raw %}"{{ node }}"{% endraw %},
                "refId": "A"
              }
            ],
            "thresholds": [],
            "timeFrom": null,
            "timeRegions": [],
            "timeShift": null,
            "title": "Node utilisation (CPU)",
            "tooltip": {
              "shared": true,
              "sort": 0,
              "value_type": "individual"
            },
            "type": "graph",
            "xaxis": {
              "buckets": null,
              "mode": "time",
              "name": null,
              "show": true,
              "values": []
            },
            "yaxes": [
              {
                "format": "percent",
                "label": null,
                "logBase": 1,
                "max": null,
                "min": null,
                "show": true
              },
              {
                "format": "short",
                "label": null,
                "logBase": 1,
                "max": null,
                "min": "0",
                "show": true
              }
            ],
            "yaxis": {
              "align": false,
              "alignLevel": null
            }
          },
          {
            "aliasColors": {},
            "bars": false,
            "dashLength": 10,
            "dashes": false,
            "datasource": "{{ datasource }}",
            "fill": 1,
            "fillGradient": 0,
            "gridPos": {
              "h": 8,
              "w": 12,
              "x": 12,
              "y": 27
            },
            "id": {{ loop.index }}10,
            "legend": {
              "avg": false,
              "current": false,
              "max": false,
              "min": false,
              "show": true,
              "total": false,
              "values": false
            },
            "lines": true,
            "linewidth": 1,
            "nullPointMode": "null",
            "options": {
              "dataLinks": []
            },
            "percentage": false,
            "pointradius": 2,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "spaceLength": 10,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "node:node_memory_utilisation:{node!~\"^master-infra.*|worker-infra.*\"} * 100",
                "legendFormat": {% raw %}"{{ node }}"{% endraw %},
                "refId": "A"
              }
            ],
            "thresholds": [],
            "timeFrom": null,
            "timeRegions": [],
            "timeShift": null,
            "title": "Node utilisation (Memory)",
            "tooltip": {
              "shared": true,
              "sort": 0,
              "value_type": "individual"
            },
            "type": "graph",
            "xaxis": {
              "buckets": null,
              "mode": "time",
              "name": null,
              "show": true,
              "values": []
            },
            "yaxes": [
              {
                "format": "percent",
                "label": null,
                "logBase": 1,
                "max": null,
                "min": "0",
                "show": true
              },
              {
                "format": "short",
                "label": null,
                "logBase": 1,
                "max": null,
                "min": null,
                "show": true
              }
            ],
            "yaxis": {
              "align": false,
              "alignLevel": null
            }
          },
          {
            "aliasColors": {},
            "bars": false,
            "dashLength": 10,
            "dashes": false,
            "datasource": "{{ datasource }}",
            "decimals": 0,
            "fill": 1,
            "fillGradient": 0,
            "gridPos": {
              "h": 15,
              "w": 24,
              "x": 0,
              "y": 35
            },
            "id": {{ loop.index }}12,
            "legend": {
              "alignAsTable": true,
              "avg": true,
              "current": true,
              "max": true,
              "min": true,
              "rightSide": false,
              "show": true,
              "sort": "current",
              "sortDesc": true,
              "total": false,
              "values": true
            },
            "lines": true,
            "linewidth": 1,
            "links": [],
            "nullPointMode": "null",
            "options": {
              "dataLinks": []
            },
            "percentage": false,
            "pointradius": 5,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "spaceLength": 10,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "sum (kube_pod_info{node!~\"^master-infra.*|^worker-infra.*\"}) by (node)",
                "intervalFactor": 2,
                "legendFormat": {% raw %}"{{ node }}"{% endraw %},
                "refId": "A"
              }
            ],
            "thresholds": [],
            "timeFrom": null,
            "timeRegions": [],
            "timeShift": null,
            "title": "Pods per Node",
            "tooltip": {
              "shared": true,
              "sort": 0,
              "value_type": "individual"
            },
            "type": "graph",
            "xaxis": {
              "buckets": null,
              "mode": "time",
              "name": null,
              "show": true,
              "values": []
            },
            "yaxes": [
              {
                "decimals": 0,
                "format": "short",
                "label": null,
                "logBase": 1,
                "max": null,
                "min": "0",
                "show": true
              },
              {
                "format": "short",
                "label": null,
                "logBase": 1,
                "max": null,
                "min": null,
                "show": true
              }
            ],
            "yaxis": {
              "align": false,
              "alignLevel": null
            }
          },
          {
            "aliasColors": {},
            "bars": false,
            "dashLength": 10,
            "dashes": false,
            "datasource": "{{ datasource }}",
            "fill": 1,
            "fillGradient": 0,
            "gridPos": {
              "h": 8,
              "w": 12,
              "x": 0,
              "y": 50
            },
            "id": {{ loop.index }}14,
            "legend": {
              "avg": false,
              "current": false,
              "max": false,
              "min": false,
              "show": true,
              "total": false,
              "values": false
            },
            "lines": true,
            "linewidth": 1,
            "nullPointMode": "null as zero",
            "options": {
              "dataLinks": []
            },
            "percentage": false,
            "pointradius": 2,
            "points": false,
            "renderer": "flot",
            "seriesOverrides": [],
            "spaceLength": 10,
            "stack": false,
            "steppedLine": false,
            "targets": [
              {
                "expr": "sum(openshift_build_total) by (strategy, phase)",
                "intervalFactor": 2,
                "legendFormat": {% raw %}"{{ strategy}} - {{ phase }}"{% endraw %},
                "refId": "A"
              }
            ],
            "thresholds": [],
            "timeFrom": null,
            "timeRegions": [],
            "timeShift": null,
            "title": "Total Builds by Phase and Strategy",
            "tooltip": {
              "shared": true,
              "sort": 0,
              "value_type": "individual"
            },
            "type": "graph",
            "xaxis": {
              "buckets": null,
              "mode": "time",
              "name": null,
              "show": true,
              "values": []
            },
            "yaxes": [
              {
                "decimals": 0,
                "format": "short",
                "label": null,
                "logBase": 1,
                "max": null,
                "min": "0",
                "show": true
              },
              {
                "decimals": 0,
                "format": "short",
                "label": null,
                "logBase": 1,
                "max": null,
                "min": null,
                "show": true
              }
            ],
            "yaxis": {
              "align": false,
              "alignLevel": null
            }
          }
        ],
        "title": "{{ clustername }} Details",
        "type": "row"
      }{% if loop.index != loop.length %},{% endif %}{% endfor %}
    ],
    "schemaVersion": 20,
    "style": "dark",
    "tags": [],
    "templating": {
      "list": []
    },
    "time": {
      "from": "now-6h",
      "to": "now"
    },
    "timepicker": {
      "refresh_intervals": [
        "5s",
        "10s",
        "30s",
        "1m",
        "5m",
        "15m",
        "30m",
        "1h",
        "2h",
        "1d"
      ]
    },
    "timezone": "",
    "title": "{{ title }}",
    "uid": null,
    "version": null
  },
  "overwrite": true
}